<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/admin/edit-category/<%= data.id %>" method="post" enctype="multipart/form-data">
        <label for="">Edit Category Name</label><br>
        <input type="text" name="category" value="<%= data.category %>" placeholder="Please input the Name of category you want to add!!">
        <img src="/uploads/<%= data.image %>" width="200" alt="">
        <input type="file" name="image">
        <input type="submit" value="Save">
    </form>
</body>
</html>