<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/edit-subcategory" method="post" enctype="multipart/form-data">
        <label for="">Subcategory Name</label><br>
        <select name="category">
            <option value="">One</option>
        </select>
        <input type="text" name="subcategory"  placeholder="Please input the Name of category you want to add!!">
        <input type="submit" value="Save">
    </form>
</body>
</html>